# based on https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore
# and https://github.com/github/gitignore/blob/master/Qt.gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

INSTALL
calendar.cpp
calendar.h
document.cpp
document.h
exif_reader.cpp
exif_reader.h
fman.cpp
fman.h
gui_utils.cpp
gui_utils.h
img_viewer.cpp
img_viewer.h
ioapi.h
libretta_calc.cpp
libretta_calc.h
logmemo.cpp
logmemo.h
main.cpp
meson.build
meson_options.txt
myjoystick.cpp
myjoystick.h
pugiconfig.hpp
pugixml.cpp
pugixml.hpp
qioapi.cpp
quagzipfile.cpp
quagzipfile.h
quaziodevice.cpp
quaziodevice.h
quazip.cpp
quazip.h
quazip_global.h
quazipdir.cpp
quazipdir.h
quazipfile.cpp
quazipfile.h
quazipfileinfo.cpp
quazipfileinfo.h
quazipnewinfo.cpp
quazipnewinfo.h
shortcuts.cpp
single_application_shared.cpp
single_application_shared.h
spellchecker.h
tea.cpp
tea.h
textproc.cpp
textproc.h
tio.cpp
tio.h
todo.cpp
todo.h
tzipper.cpp
tzipper.h
unzip.c
unzip.h
utils.cpp
utils.h
wavinfo.cpp
wavinfo.h
zip.c
zip.h
